<br /><%= link_to("<< Back to List",'/user/new', :class => 'back-link') %>

<div class="post show">
  <h2></h2>

  <table summary="Blog detail view">
    <tr>
      <th></th>
      <td class="title_of_blog"><%= @post.title %></td>
    </tr>
    <div>
    <tr>
      <th></th>
      <td  class='body_of_blog'><p><%= @post.body %></td></p></td>
    </tr>
    </div>
    <tr>
      <th>Created :</th>
      <td><%= @post.created_at %></dt>
    </tr>
    <tr>
      <th>Updated :</th>
      <td><%= @post.updated_at %></td>
    </tr>
  </table>

</div>
