<br /><%= link_to("<< Back to List",pages_path, :class => 'back-link') %>

<div class="subjects show">
  <h2>Create Subject</h2>
  
  <%= form_for(@employee, :url => pages_path, :method => 'post') do |f| %>
 
  <table summary="Employee form field">
    <tr>
      <th>Name :</th>
      <td><%= f.text_field(:name) %></td>
      <th>Last Name :</th>
      <td><%= f.text_field(:lname) %></td>
      <th>Email :</th>
      <td><%= f.text_field(:email) %></td>
      <th>Department Name :</th>
      <td><%= f.text_field(:dept) %></td>
      <th>Salary :</th>
      <td><%= f.text_field(:salary) %></td>
      <th>Gender :</th>
      <td><%= f.text_field(:gender) %></td>
      <th>Department ID:</th>
      <td><%= f.text_field(:department_id) %></td>
    </tr>
    </table>
  <div class="form-buttons">
    <%= f.submit("Create Subject") %>
  </div>
<% end %>

</div>
