<script>
        var countBox = 2;
        var boxName = 0;
        var i = 1;
        var a = 1;
        function addInput()
            {
                
                var quest = document.getElementById("questionx"); 
                document.getElementById('questiony').innerHTML+=`<br />
                <fieldset>Question:<input type="text" id="questionid" name="survey[questions_attributes][${i}][body]">
                </input>
                <input type="checkbox" id="questionid" name="survey[questions_attributes][${i}][body]" >
                Remove Question</input><br /><br />
                <fieldset>Answer:<input type="text" id="questionid" name="survey[answers][${a}][body]">
                <input type="checkbox" id="questionid" name="survey[questions_attributes][${i}][body]" >
                Remove Answer</input></fieldset></fieldset></fieldset>`;
                countBox += 1;
                i+=1;
                a+=1;
            }
        function removeInput()
            {
                var quest = document.getElementById("questionx"); 
                document.getElementById('questiony').innerHTML-='<br />Body <input type="text" id="questionid" name="survey[questions_attributes][${i}][body]"></input><br />';
                countBox-=1;
                i-=1;
            }
        function addAnswer(){
                var ans = document.getElementById("ansx"); 
                document.getElementById('ansy').innerHTML+=`<br /><fieldset id="questionid">
                Answer:<input type="text" id="answerid" name="survey[answers][${a}][body]">
                </input><input type="checkbox" id="answerid" name="survey[answers][${a}][body]">
                Remove Answer</input></fieldset><br />`;
                countBox += 1;
                i+=1;
                a+=1;
        }
</script>
<%= form_with(model: survey) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :name %>
  <%= form.fields_for :questions, @surveys do |ques| %>    

    <div>
      <ol id="list"></ol>
      <%= ques.label :Question %>
      <%#= ques.text_field :body, html:{:id => "questionid"} %>
      

      <%#= <input type="text" , id="questionid" /> %>

      <button type="button" onclick="addInput()">Add Question</button>
      <button type="button" onclick="removeInput()">Remove Question</button>
      <span id="questionx"></span><span id="questiony"></span>
  

      <div>
        
      </div>
    </div>

  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
