<p id="notice"><%= notice %></p>
<h1>Survey </h1>
<p>
  <h><strong>Name:</strong></h>
  <%=h @survey.name %>
</p>

<ol>
  <% for question in @survey.questions %>
  <li><%= h question.body %></li>
  	<ul>
    <% for answer in question.answers %>
      <li><%= h answer.body %></li>
    <% end %>
  </ul>
  <% end %>
</ol>

<p>
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %> |
<%= link_to 'View List', surveys_path %>
