<script>
        var countBox = 2;
        var boxName = 0;
        var i = 1;
        function addInput()
            {
                
                var quest = document.getElementById("questionx"); 
                document.getElementById('questiony').innerHTML+=`<br />Body <input type="text" id="questionid" name="survey[questions_attributes][${i}][body]"></input><br />`;
                countBox += 1;
                i+=1;
            }
        function removeInput()
            {
                var quest = document.getElementById("questionx"); 
                document.getElementById('questiony').innerHTML-='<br />Body <input type="text" id="questionid" name="survey[questions_attributes][${i}][body]"></input><br />';
                countBox-=1;
                i-=1;
            }
</script>
<%= form_for(@survey, :url => '/survey/create', :method => 'post') do |f| %>

  <div class="field">

      <%= f.label :name %><br />

      <%= f.text_field :name %>

  </div>

  

  <h5>Questions</h5>

  <%= f.fields_for :questions, @surveys do |ques| %>    

    <div>
      <ol id="list"></ol>
      <%= ques.label :body %>
      <%= ques.text_field :body, html:{:id => "questionid"} %>

      <%#= <input type="text" , id="questionid" /> %>

      <button type="button" onclick="addInput()">Add Question</button>
      <button type="button" onclick="removeInput()">Remove Question</button>
      <span id="questionx"></span><span id="questiony"></span>

      <%#= link_to 'Add Question', :onclick => "addItem();" %>
      <%#= link_to 'Remove Question', :onclick => "removeItem();" %>


      <%#= <a href="javascript:addItem();">Add Question</a> %>
      <%#= <a href="javascript:removeItem();">Remove Question</a> %>

    </div>

  <% end %>


  <div>

    <%= f.submit "Create" ,:class => 'button' %>

  </div>

    

<% end %>
