<%= form_for(@survey, :url => '/survey/create', :method => 'post') do |f| %>
    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
    </div>
    
    <%= f.fields_for :questions_attributes do |builder| %>
    <fieldset>
        <%= builder.label :body, "Question " %><br/>
        <%= builder.text_area :body %><br />
        <%= builder.label :_destroy, "Remove Question" %>
    </fieldset>
    <% end %>
    
  <div class="mb-3 flex items-center">
    <%= f.submit "Create" ,:class => 'button' %>
  </div>
    
<% end %>

