<script>
        var countBox = 2;
        var boxName = 0;
        var i = 1;
        var a = 1;
        function addInput()
            {
                
                var quest = document.getElementById("questionx"); 
                document.getElementById('questiony').innerHTML+=`<br />
                <fieldset>Question:<input type="text" id="questionid" name="survey[questions_attributes][${i}][body]">
                </input>
                <input type="checkbox" id="questionid" name="survey[questions_attributes][${i}][body]" >
                Remove Question</input><br /><br />
                <fieldset>Answer:<input type="text" id="questionid" name="survey[answers][${a}][body]">
                <input type="checkbox" id="questionid" name="survey[questions_attributes][${i}][body]" >
                Remove Answer</input></fieldset></fieldset></fieldset>`;
                countBox += 1;
                i+=1;
                a+=1;
            }
        function removeInput()
            {
                var quest = document.getElementById("questionx"); 
                document.getElementById('questiony').innerHTML-='<br />Body <input type="text" id="questionid" name="survey[questions_attributes][${i}][body]"></input><br />';
                countBox-=1;
                i-=1;
            }
        function addAnswer(){
                var ans = document.getElementById("ansx"); 
                document.getElementById('ansy').innerHTML+=`<br /><fieldset id="questionid">
                Answer:<input type="text" id="answerid" name="survey[answers][${a}][body]">
                </input><input type="checkbox" id="answerid" name="survey[answers][${a}][body]">
                Remove Answer</input></fieldset><br />`;
                countBox += 1;
                i+=1;
                a+=1;
        }
</script>
<%= form_for(@survey, :url => '/survey/create', :method => 'post') do |f| %>

  <div class="field">

      <%= f.label :name %><br />
      <%= f.text_field :name %>

  </div>

  

  <h5>Questions</h5>

  <%= f.fields_for :questions, @surveys do |ques| %>    

    <div>
      <ol id="list"></ol>
      <%= ques.label :Question %>
      <%#= ques.text_field :body, html:{:id => "questionid"} %>
      

      <%#= <input type="text" , id="questionid" /> %>

      <button type="button" onclick="addInput()">Add Question</button>
      <button type="button" onclick="removeInput()">Remove Question</button>
      <span id="questionx"></span><span id="questiony"></span>


      <%= f.fields_for :answers, @answer do |ans| %> 

      <span id="ansx"></span><span id="ansy"></span>
      <button type="button" onclick="addAnswer()">Add Answer</button>
      <button type="button" onclick="removeInput()">Remove Answer</button>
      

      <%#= link_to 'Add Question', :onclick => "addItem();" %>
      <%#= link_to 'Remove Question', :onclick => "removeItem();" %>

      <% end %>
  

      <div>
        
      </div>
    </div>

  <% end %>


  <div>

    <%= f.submit "Create" ,:class => 'button' %>

  </div>

    

<% end %>
