<br />
<%= link_to("Login ",{:action =>'index'})%><br />
<h>Signup Links are there</h><br />

%= form_for(@user, :url => signup_path, :method => 'post') do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", placeholder: "aman@gmail.com"  %>
  </div>
  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" ,placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= f.label :confirm_password %>
    <%= f.password_field :password_confirmation, class: "form-control" ,placeholder: "confirm password" %>
  </div>
  <div class="mb-3">
    <%= f.label :gender %>
    <%= f.text_field :gender, class: "form-control",placeholder: "Male or Female"  %>
  </div>
  <div class="mb-3">
    <%= f.label :age %>
    <%= f.text_field :age, class: "form-control",placeholder: "YY-MM-DD"  %>
  </div>
  <div class="mb-3">
    <%= f.label :phone %>
    <%= f.text_field :phone , class: "form-control"%>
  </div>
    <div class="mb-3">
        <%= f.submit("Sign Up") %>
    </div>
<% end %>
