<br /><%= link_to("<< Back to List",'index', :class => 'back-link') %>

<div class="Blog edit">
  <h2>Update Blog</h2>
  
  <%= form_for blogs_edit_path do |f| %>
     
  <tr>
    <th>Title :</th>
    <td><%= f.text_field(:title) %></td>
  </tr>
  <tr>
    <th>Body :</th>
    <td><%= f.text_field(:body) %></td>
  </tr>
    
  <div class="form-buttons">
    <input type="checkbox" id=form_checkbox><p>"Are you sure with the changes?"</p>
    <%= f.submit("Update Blog") %>
  </div>
<% end %>

</div>
