<dev class="blogpost index">
  <h2>Welcome User</h2>

  <%= link_to("Add New Blog",'new',:class => 'action new') %>

  <table class="listing" summary="Subject list">
   <tr class="header">
     <th>No.</th>
     <th>Blog List</th>
     <%# <th>Visible</th> %>
     <%#  <th>#</th> %>
     <th>Actions</th>
   </tr>
   <% @blogposts.each do |blog| %></td>
   <tr> 
        <td><%= blog.id %><td>
        <td><%= blog.title %><td>
   <%#  <td class="center"><%= subject.Visible ? 'Yes' : 'No' %></td> 
   <%# <td class="center"><%= blog.pages.size %></td>
     <td class="actions">
        <%= link_to("Show", {:action =>'show',:id => blog.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action =>'edit',:id => blog.id}, :class => 'action edit') %>
        <%= link_to("Delete",{:action =>'delete',:id => blog.id}, :class => 'action delete') %>
     </td>
    </tr>
    <% end %>
 </table>
</div>
