<br /><%= link_to("<< Back to List",'index', :class => 'back-link') %>

<div class="blogs show">
  <h2></h2>

  <table summary="Blog detail view">
    <tr>
      <th></th>
      <td class="title_of_blog"><%= @blogpost.title %></td>
    </tr>
    <div>
    <tr>
      <th></th>
      <td  class='body_of_blog'><p><%= @blogpost.body %></td></p></td>
    </tr>
    </div>
    <tr>
      <th>Created :</th>
      <td><%= @blogpost.created_at %></dt>
    </tr>
    <tr>
      <th>Updated :</th>
      <td><%= @blogpost.updated_at %></td>
    </tr>
  </table>

</div>
