<br />
<div class="navigate_links"><%= link_to("Home ",'/home/index') %> <%= link_to("Login ",'/user/login') %> <br /></div>
<div class="signup_form_body">
  <br  />
  <h class="signup_title">Sign Up</h>
  <br />
  <%= form_for @user,:url=>"/user/create", method:'post' do |f| %>
    <div class="validation_errors" >
    <% if @user.errors.any? %>
        <%= render partial: "shared/errors_msg" %>
    <% end %>
    </div>
  <div class="mb-3 flex items-center">
    <%= f.label :name %> <%= f.text_field :name, class: "form-control" ,placeholder: "User Name" %>
  </div>
  <div class="mb-3 flex items-center">
    <%= f.label :email %> <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>
  <div class="pwd flex items-center">
    <%= f.label :password %> <%= f.password_field :password, class: "form-control" ,placeholder: "must be (6-10) character long" %>
  </div>
  <div class="flex items-center">
    <%= f.label :password ,class:"confirm_passwrod_label" %> <%= f.password_field :password_confirmation, class: "form-control" ,placeholder: "confirm password" %>
  </div>
  <div class="gender flex items-center"><%= f.label :gender,class:"label_gender" %> <%= f.radio_button :gender, 'Male', checked: "checked" %>Male <%= f.radio_button :gender, 'Female',required: true %>Female<br /></div>
  <div class="age flex items-center"><%= f.label :age %> <%= f.text_field :age %></div>
  
  <div class="mb-3 flex items-center">
    <%= f.label :phone %> <%= f.text_field :phone , class: "form-control", placeholder:"Phone" %>
  </div>
  <div class="mb-3 flex items-center">
    <%= f.label :address %> <%= f.text_field :address , class: "form-control", placeholder:"delhi or faridabad or mumbai" %>
  </div>

  <div class="mb-3 flex items-center">
    <%= f.submit "Sign Up" ,:class => 'button' %>
  </div>
  <% end %>
</div>

